@import '../styles';

.notes_page {
    min-height: 100vh;

    @media (min-width: 1200px) {
        width: 90vw;
        padding: 40px;
    }

    width: 100vw;

    padding: 15px;

    @include centerBoth;
    flex-direction: column;
    justify-content: space-evenly;

}


.header {
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 35px;
    text-shadow: 4px 4px rgba(45, 45, 70, 0.2);
}

.section_body {
    @include centerBoth;

    @media (min-width: 1200px) {

        display: grid;
        grid-template-columns: 30% auto;
        gap: 40px;
        padding: 0 20px;

    }

    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    margin-top: 40px;
}

.welcome,
.note {

    @media (min-width: 1200px) {
        width: 53vw;
    }

    width: 95vw;
    align-self: flex-start;
    padding: 20px;

    text-align: justify;
}

.note {
    border-radius: 15px;
    border: 1px solid $tailwind-purple-500;

    @media (min-width: 1200px) {
        min-height: 40vh;
    }

    min-height: 20vh;
}