@import '../styles';

.notes_page {
    min-height: 100vh;
    width: 90vw;

    @include centerBoth;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 40px;
}


.header {
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 35px;
    text-shadow: 4px 4px rgba(45, 45, 70, 0.2);
}

.section_body {
    @include centerBoth;

    display: grid;
    grid-template-columns: 30% auto;
    gap: 40px;
    padding: 0 20px;
}

.welcome,
.note {
    width: 53vw;
    align-self: flex-start;
    padding: 20px;
}

.note {
    border-radius: 15px;
    border: 1px solid $tailwind-purple-500;

    min-height: 40vh;
}