// -- >> Variables
$shadow: 0 7px 15px 4px rgba(45, 45, 70, 0.2);
$bgColor: rgba(215, 215, 255, 0.1);

$card-shadow: 0 3px 7px 4px rgba(145, 145, 170, 0.1);
$tailwind-purple-500: #9F7AEA;
$tailwind-purple-400: #B794F4;


// -- >> Mixins
@mixin centerBoth {
    display: flex;
    justify-content: center;
    align-items: center;
}